<div class="maxi-player">
  <div class="top-end">
  <header>
    <div class="title">
      <h2>{{episode.title}}</h2>
      <div class="secondary">
        <div class="date">{{episode.date}}</div>
        <div class="duration">{{episode.duration}}</div>
      </div>
    </div>
    <div class="collapse-button">
      <a href="#!">
        <i class="material-icons">expand_more</i>
      </a>
    </div>
  </header>
  <div class="description">
    <p>{{episode.summary}}{{episode.summary}}{{episode.summary}}</p>
    <div class="actions">
      <a href="/episode.html" class="waves-effect btn-flat">Read More</a>
    </div>
  </div>
  </div>
  <div class="bottom-end">
  <div class="playback-progress">
    <div class="time">
      <span>23:40</span>
      <span>-31:54</span>
    </div>
    <div class="progress-container">
      <div class="thumb">
        <div class="time-tooltip">23:14</div>
      </div>
      <div class="progress-wrapper">
        <div class="progress">
          <div class="determinate"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="controls">
    <div>
      <a href="#!">
        <i class="material-icons">replay_10</i>
      </a>
    </div>
    <div>
      <a href="#!" class="play">
        <i class="material-icons">play_arrow</i>
      </a>
    </div>
    <div>
      <a href="#!">
        <i class="material-icons">forward_30</i>
      </a>
    </div>
  </div>
  </div>
</div>
