<div class="mini-player">
  <div class="mini-progress">
    <div class="bar"></div>
  </div>
  <div class="mini-wrapper">
    <div class="control">
      <a href="#!" class="play-button play">
        <i class="material-icons">play_arrow</i>
      </a>
      <a href="#!" class="play-button pause">
        <i class="material-icons">pause</i>
      </a>
    </div>
    <div class="title">
      <span>
      {{episode.title}}
      {{episode.title}}
      {{episode.title}}
      </span>
      <p class="secondary">{{episode.date}}</p>
    </div>
    <div class="expand-button">
      <a href="#!" class="expand-player">
        <i class="material-icons">expand_less</i>
      </a>
    </div>
    <div class="logo"><img src="{{assets}}/img/{{podcast.cover}}"></div>
  </div>
</div>
